html {
    font-size: 16px + 1vw;
}

body {
    position: relative;

    font-family: Open Sans Semi-Bold, sans-serif;
    margin: 0;

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 3rem 1fr;

    background-image: linear-gradient(var(--baseColorDark), var(--baseColorLight) 15%, var(--baseColorLight) 85%, var(--baseColorDark));
    color: var(--baseFontColor);
}

body * {
    border: 1px solid white none;
}

:root {
    --baseColorLight: #1e1c4d;
    --baseColorDark: #12102d;

    --baseFontColor: white;
    --selectFontColor: rgb(180, 180, 180);
    --headingFontColor: #f5c518;
}

.noDisplay {
    display: none;
}

/* HEADER FOR MOBILE */
@media screen and (max-width: 600px) {
    #header {
        position: relative;
    }

    #logo {
        position: absolute;
        transform: translate(calc(50vw - 50%), calc(1.5rem - 50%));
        top: 0;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: bold;
    }

    #logoImg {
        width: 2rem;
        aspect-ratio: 1/1;
        background-image: url("https://github.com/HatcheROfficials/Movies_App/blob/master/assets/logo.png?raw=true");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        margin-right: 0.5rem;
    }

    #searchIcon {
        position: absolute;
        transform: translate(calc(100vw - 100% - 1rem), calc(1.5rem - 50%));
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }

    #searchIcon>input {
        z-index: 7;
        position: absolute;
        right: 2rem;
        height: 2rem;
        width: calc(100vw - 4rem);

        box-sizing: border-box;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 1rem;

        background-color: var(--headingFontColor);
    }
    #searchIcon>input:focus{
        border: 2px solid red;
    }

    .searchActive {
        z-index: 6;
    }

    #topNavContainer {
        z-index: 5;
        position: absolute;
        height: 0;
        overflow: visible;
        transform: translate(0, 0);
        font-size: 1.5rem;
        list-style: none;
        font-weight: bold;
    }

    #topNavContainer li:first-child {
        position: relative;
        transform: translate(1rem, 0.5rem);
    }

    .topNav li:not(:first-child) {
        display: none;
    }

    #topNavContainer .topNav.responsive {
        background-color: var(--baseColorDark);
        width: 100vw;
    }

    #topNavContainer .topNav.responsive li {
        display: block;
    }

    #topNavContainer .topNav.responsive li.active {
        background-color: var(--baseColorLight);
    }

    #topNavContainer .topNav.responsive li:not(:first-child) {
        font-size: 1rem;
        margin-top: 1.5rem;
        padding: 1rem
    }
}

/* HEADER FOR DESKTOP */
@media screen and (min-width: 600px) {
    #header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        font-weight: bold;
    }

    #logoImg {
        width: 2rem;
        aspect-ratio: 1/1;
        background-image: url("https://github.com/HatcheROfficials/Movies_App/blob/master/assets/logo.png?raw=true");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        margin-right: 0.5rem;
    }

    #topNavContainer {
        order: 2;
        font-weight: bold;
    }

    .topNav {
        display: flex;
        font-size: 1rem;
    }

    #topNavContainer .topNav li {
        display: block;
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-radius: 0.5rem;
    }

    #topNavContainer .topNav li.active {
        /* background-color: var(--baseColorDark); */
    }

    #topNavContainer .topNav li:hover {
        color: var(--selectFontColor);
    }

    #topNavContainer .topNav li:first-child {
        display: none;
    }

    #searchIcon {
        font-size: 1.5rem;
        order: 3;
        margin-right: 1rem;
    }

    #searchIcon>input {
        z-index: 7;
        position: absolute;
        right: 4rem;
        left: 1rem;
        height: 2rem;
        
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 1rem;

        background-color: var(--headingFontColor);
    }
    #searchIcon>input:focus{
        border: 2px solid red;
    }
    .searchActive {
        z-index: 6;
    }

    .noDisplay {
        display: none;
    }
}

#contentFooter {
    max-width: 100vw;
    padding: 1rem;
    overflow-x: hidden;
}

#contentFooter::-webkit-scrollbar {
    display: none;
}

/* HOME SECTION */
.falseBorder {
    border: 2px solid var(--headingFontColor) none;
}

.marginTop {
    margin-top: 3rem;
}

.marginBottom {
    margin-bottom: 1rem;
}

.sectionTitle {
    font-size: 1.5rem;
    color: var(--headingFontColor);
    font-weight: bold;
}

.secondaryHeading {
    font-size: 1rem;
    color: var(--headingFontColor);
    font-weight: bold;
}

.contentText {
    font-size: 1rem;
    color: var(--selectFontColor);
    font-weight: bold;
}

/* Carousel */
#featured {
    overflow: hidden;
}

.carausel {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carausel img {
    height: 30vh;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
    height: 0.1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--headingFontColor);
}

/* Mantra */
#mantra div:first-child {
    font-size: 2rem;
}

#mantra div:last-child {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: left;
}

@media screen and (min-width: 600px) {

    #mantra{
        width: 50%;
    }
    /* Mantra */
    #mantra div:first-child {
        font-size: 3rem;
    }

    #mantra div:last-child {
        margin-top: 1rem;
        font-size: 1.2rem;
        text-align: left;
    }
}

/* UPCOMING SECTION */
#upcoming div:last-child {
    display: flex;
    justify-content: flex-start;
}

#upcoming>div:last-child div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

#upcoming>div:last-child img {
    height: 60vh;
    border-radius: 2rem;
}

/* MOVIES SECTION */
#movies{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

#movies div{
    font-size: 1.2rem;
    text-align: center;
}
#movies #mTitle{
    grid-area: 1/1/2/3;
    font-size: 1.5rem;
    color: var(--headingFontColor);
    font-weight: bold;
}
#movies #mPoster{
    grid-area: 2/1/3/3;
    text-align: center;
}
#movies button{
    grid-area: 3/1/4/3;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--headingFontColor);
    border-radius: 1rem;
    color: black;
    font-weight: bold;
}
@media screen and (min-width: 600px) {
    #movies button{
        width: 50%;
        transform: translate(calc(50vw - 50%),0);
    }
}
#movies button:hover{
    background-color: rgb(6, 238, 6);
    border: 2px solid green;
}
#movies #mPlot{
    font-size: 1.2rem;
    grid-area: 4/1/5/3;
    color: var(--headingFontColor);
    margin-bottom: 2rem;
}
#movies div:nth-child(2n+5){
    border-right: 2px solid var(--headingFontColor);
    color: var(--selectFontColor);
    text-align: right;
    padding-right: 2rem;
}
#movies div:nth-child(2n+6){
    /* border-left: 2px solid var(--headingFontColor); */
    text-align: left;
    padding-left: 1rem;
}

/* FAVOURITE SECTION */
#favourites{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#favourites>div{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#favourites>div img{
    margin: 1rem;
    height: 40vh;
}
#favourites>div button{
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--headingFontColor);
    border-radius: 1rem;
    color: black;
    font-weight: bold;
}
#favourites>div button:hover{
    background-color: rgb(250, 136, 136);
    border: 2px solid red;
}

@media screen and (min-width: 600px) {
    #movies{
        gap: 1rem;
    }
    #movies div{
        font-size: 1.2rem;
    }
    #movies #mTitle{  
        font-size: 2rem;
    }
    #movies #mPlot{
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    #movies div:nth-child(2n+4){
        padding-right: 2rem;
    }
    #movies div:nth-child(2n+5){
        padding-left: 1rem;
    }
}
/* FOOTER */
footer {
    height: 30vh;
    background-color: var(--baseColorDark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px -2rem 4rem 4rem var(--baseColorDark);
}

footer>div:first-child {
    font-size: 2rem;
    margin: 0.5rem;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;
}

#social>div {
    color: var(--whiteCol);
    height: 50%;
    aspect-ratio: 1/1;

    border: 1px solid white;
    box-shadow: 0px 0px 5px 0.5px var(--headingFontColor);
    border-radius: 50%;
    margin: 0 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#social a {
    color: var(--whiteCol);
    text-decoration: none;
}

.socialIcon {
    font-size: 2.5rem;
    height: 100%;
    aspect-ratio: 1/1;

    border-radius: 50%;

    display: flex;
    justify-content: center;

    align-items: center;

    transition: all 0.2s ease-in-out;
}

.socialIcon:hover {
    height: 2rem;
    font-size: 1.5rem;
    aspect-ratio: 1/1;
}

@media screen and (min-width: 600px) {
    ::-webkit-scrollbar {
        height: 0.8rem;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--headingFontColor);
    }

    .carausel img:hover {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .marginTop {
        margin-top: 6rem;
    }

    #upcoming div:last-child {
        display: flex;
        justify-content: space-around;
    }

    #upcoming>div:last-child div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
    }

    #upcoming>div:last-child img {
        height: 60vh;
        border-radius: 2rem;
    }
}